
  $primary-color: #FD2D01;
  $secondary-color: #FFD7D7;
  $tertiary-color: #82869c;
  $tertiary-color-real: #4E5166;
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    @include flex-center;
    width: 100%;
    background: rgb(224, 224, 224);
  }
  
  main {
    @include flex-center;
  }

  button span {
    margin : 5px;
  }

  button {
    margin: 5px 0 5px 0;
  }

  .form-control{
    margin-bottom : 10px;
}

.btn-danger {
  background-color: $primary-color;
}

.btn-secondary{
  background-color: $tertiary-color;
}
  